.custom-button {
  font-size: 1rem;
  background-color: #292847;
  margin: 0;
  padding: 10px;
  border: 1px solid #708ed2;
  border-radius: 20px;
  color: #708ed2;
  outline: none;
  &.disabled {
    &:hover {
      cursor: none;
    }
  }
  &:hover {
    background-color: #708ed2;
    color: #ebe5e2;
    cursor: pointer;
  }
}
