.header {
  height: 100%;
  background-color: #292847;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 20%;

  &--title {
    padding: 0;
    margin: 0;
  }

  &--nav-bar {
    &--menu {
      width: 17rem;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      &--item {
      }
    }
  }
  @media screen and (max-width: 1050px) {
    padding: 2rem 5%;
  }
}

.links {
  text-decoration: none;
}
